@media only screen and (max-width: 900px) {
    .container-certificaciones{
        height: 1100px;
        width: 100%;
        min-width: 245px;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 70px;
        margin: 20px 0px;
        background-color: #eaeaf1;
        
    
    }

    .certificaciones-container-title {
        height: 5%;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 0 px 0px 0px 0px;
        background-color: #eaeaf1;
    }

    .certificaciones-title{
        font-family: 'Varela Round', sans-serif;
        font-weight: bold;
        background-color: #eaeaf1;
        text-align: center;
        font-size: 1.7rem;
        hyphens: auto;
        overflow:auto;
        background-color: #eaeaf1;
    
    }
    

    
    .certificaciones-container-tarjetas{
        height: 90%;
        width:100%;
        display:flex;
        justify-content: flex-start;
        align-items:flex-start;
        flex-direction: column;
        padding: 10px 10px 0px 10px;
        background-color: #eaeaf1;
    }
    
    .tres-tarjetas {
        height: 100%;
        width: 95%;
        display:flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
    
        background-color: #eaeaf1;
        border-bottom: #a4a6a7 solid 1px;
        margin-bottom: 15px;
    }
    
    .tarjeta-container-imagen-code-cademy{
        height: 50px;
        width: 50px;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:0px;
        background-color: #eaeaf1;
        margin: 0px 0px 10px 0px;
    }
    
    .logo-codecademy{
        height:100%;
        width: 100%;
        background-color: #eaeaf1;
    }
    
    .tarjeta-informacion{
        height: 100%;
        width: 100%;
        display:flex;
        justify-content:flex-start;
        align-items: flex-start;
        flex-direction: column;

        background-color: #eaeaf1;
    }
    
    .tarjeta-container-title{
        height: 40%;
        width: 100%;
        display:flex;
        justify-content:center;
        align-items: flex-start;
        padding:10px;
        background-color: #eaeaf1;
    
    }
    
    .curso-title {
        font-family: 'Varela Round', sans-serif;
        font-weight: bold;
        background-color: #eaeaf1;
        color:black;
       
        font-size: 1.5rem;
        hyphens: auto;
        overflow:auto;
        background-color: #eaeaf1;
        text-align:center;
    }
    
    .tarjeta-container-subtitle{
        height: 20%;
        width: 100%;
        display:flex;
        justify-content:center;
        align-items: flex-start;
        padding:10px;
        background-color: #eaeaf1;
    
    }
    
    .curso-subtitle{
        font-family: 'Varela Round', sans-serif;
        font-weight: lighter;
        color:black;
        background-color: #eaeaf1;
        text-align: center;
        justify-content:center;
        font-size: 1rem;
        hyphens: auto;
        overflow:auto;
        background-color: #eaeaf1;
       
    }
    
    .tarjeta-container-parrafo{
        height: 20%;
        width: 100%;
        display:flex;
        justify-content:center;
        align-items: flex-start;
        padding:10px;
        background-color: #eaeaf1;
        margin:0px;
    }
    
    .curso-fecha{
        font-family: 'Varela Round', sans-serif;
        font-weight: lighter;
        color:gray;
        background-color: #eaeaf1;
        text-align: center;
        font-size: 0.8rem;
        hyphens: auto;
        overflow:auto;
        background-color: #eaeaf1;
       
    }
    
    
    .tarjeta-container-credencial{
        height: 15%;
        width: 100%;
        display:flex;
        justify-content:center;
        align-items: flex-start;
        background-color: #eaeaf1;
     
    }
    
    .enlace-ver-credencial{
        text-decoration: none;
        text-align: center;
        font-weight: normal;
    }

    .ver-credencial{
        font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: #2C5282;
    font-size:1rem;
    text-align: center;
    background-color: #eaeaf1;
    }
}







@media only screen and (min-width: 901px) { 

.container-certificaciones{
    height: 400px;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 70px;
    margin: 20px 0px;
    background-color: #eaeaf1;

}

.certificaciones-container-title {
    height: 15%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 px 0px 0px 0px;
    background-color: #eaeaf1;
}

.certificaciones-title{
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    background-color: #eaeaf1;
    text-align: center;
    font-size: 1.7rem;
    hyphens: auto;
    overflow:auto;
    background-color: #eaeaf1;

}



.certificaciones-container-tarjetas{
    height: 80%;
    width:100%;
    display:flex;
    justify-content: flex-start;
    align-items:flex-start;
   
    padding: 10px 10px 0px 10px;
    background-color: #eaeaf1;
}

.tres-tarjetas {
    height: 100%;
    width: 31%;
    display:inline-flex;
    justify-content:flex-start;
    align-items: center;
    padding:10px;
    background-color: #eaeaf1;
   
    border-right: #a4a6a7 solid 1px;
}

.tarjeta-container-imagen-code-cademy{
    height: 50px;
    width: 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0px;
    background-color: #eaeaf1;
    margin: 0px 20px 0px 0px;
}

.logo-codecademy{
    height:100%;
    width: 100%;
    background-color: #eaeaf1;
}

.tarjeta-informacion{
    height: 100%;
    width: 85%;
    display:flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding:10px;
    background-color: #eaeaf1;
}

.tarjeta-container-title{
    height: 43%;
    width: 100%;
    display:flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding:10px;
    background-color: #eaeaf1;

}

.curso-title {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    background-color: #eaeaf1;
    color:black;
    text-align: center;
    font-size: 1.5rem;
    hyphens: auto;
    overflow:auto;
    background-color: #eaeaf1;
    text-align:left;
}

.tarjeta-container-subtitle{
    height: 20%;
    width: 50%;
    display:flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    padding:10px;
    background-color: #eaeaf1;
}

.curso-subtitle{
    font-family: 'Varela Round', sans-serif;
    font-weight: lighter;
    color:black;
    background-color: #eaeaf1;
    text-align: center;
    font-size: 1rem;
    hyphens: auto;
    overflow:auto;
    background-color: #eaeaf1;
}

.tarjeta-container-parrafo{
    height: 20%;
    width: 50%;
    display:flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    padding:10px;
    margin:0px;
    background-color: #eaeaf1;
}

.curso-fecha{
    font-family: 'Varela Round', sans-serif;
    font-weight: lighter;
    color:gray;
    background-color: #eaeaf1;
    text-align: center;
    font-size: 0.8rem;
    hyphens: auto;
    overflow:auto;
    background-color: #eaeaf1;
}

.tarjeta-container-credencial{
    height: 15%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #eaeaf1;
 
}

.enlace-ver-credencial{
    text-decoration: none;
    text-align: center;
    font-weight: normal;
}

.ver-credencial{
    font-family: 'Varela Round', sans-serif;
font-weight: bold;
color: #2C5282;
font-size:1rem;
text-align: center;
background-color: #eaeaf1;
}

}