@media only screen and (max-width: 900px) {
    .container-skills-container-total{
        width: 100%;
        min-width: 245px;
        height: 1000px;
        display:flex;
        justify-content:center;
        padding: 0px 0px 0px;
        
        }
        
        .container-skills{
        width: 100%;
        height:100%;
        display:flex;
        margin: 0px 0px 0px 0px;
        padding: 20px 0px 0px;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        }
        
        .container-tres-containers-tarjetas{
            width: 100%;
            height: 70%;
            display: flex;
            margin: 0px 0px 50px 0px;
            padding: 0px 0px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            overflow:auto;
        }
        
        .container-tres-containers-title{
            width: 100%;
            height:5%;
            display:flex;
            margin: 0px 0px;
            padding: 0px 0px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            }
        
            .container-tres-containers-parrafo{
                width: 100%;
                height:20%;
                display:flex;
        
                justify-content: center;
                align-items: center;
                flex-direction: column;
                }
        
        .tres-containers-container-title{
        width: 120px;
        height: 40px;
        display:flex;
        margin: 0px;
        padding: 5px;
        justify-content: center;
        align-items: flex-start;
 

        
        }
        
        .title{
            font-family: 'Varela Round', sans-serif;
            font-weight: 700px;
            font-size: 1.5em;
            text-align: center;
            background-color:#eaeaf1
        }
        
        .tres-containers-container-parrafo{
        width: 100%;
        height: 100%;
        display:flex;
        margin: 0px;
        padding: 15px;
        justify-content: center;
        align-items: flex-start;
        overflow:auto;
        }
        
        .parrafo{
            font-family: 'Varela Round', sans-serif;
            font-weight: lighter;
            color:gray;
            background-color:#eaeaf1;
            text-align: center;
        }
        
        .tres-containers-container-tarjetas{
            width: 100%;
            height: 100%;
            display: inline-flex;
            margin: 5px 0px;
            padding: 0px 0px;
            justify-content: space-around;
            align-items: flex-start;
        
            
        }
        
        
        .container-tarjetas-container-cinco-tarjetas{
            width: 90%;
            height: 100%;
            display: inline-flex;
            margin: 10px 0px;
            padding: 20px 0px;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
            
        }
        
        .cinco-tarjetas-container-tarjeta{
            width: 300px;
            height: 260px;
            display: flex;
            margin: 10px 10px;
            padding: 5px 0px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
           
            border-radius: 20%;
            background-color:#eaeaf1;
        }
        
        .tarjeta-container-img{
            width:100px;
            height:100px;
            display:flex;
            margin: 0px 0px;
            padding: 0px 0px;
            justify-content: center;
            align-items: center;
            background-color:#eaeaf1
        
        }
        
        .img-skill{
            width:100%;
            height:100%;
            margin: 0px 0px;
            padding: 0px 0px;
            border-radius:20%;
            background-color:#eaeaf1;
        }
        
        .tarjeta-container-title{
            width: 30px;
            height:20px;
            display:flex;
            margin: 5px 0px;
            padding: 2px 2px;
            justify-content: center;
            align-items: flex-start;
            background-color:#eaeaf1
        }
        
        .skills-tarjeta-container-parrafo{
            height: 20%;
            width: 70%;
            display: flex;
            justify-content: center;
            /* align-items: flex-start; */
            /* flex-direction: column; */
            padding: 10px;
            margin: 0px;
            background-color: #eaeaf1;
        }
        
        .title-skills{
            font-family: 'Varela Round', sans-serif;
            font-weight: 700px;
            font-size: 2em;
            text-align: center;
        }
        
        .parrafo-skills{
            font-family: 'Varela Round', sans-serif;
            font-weight: lighter;
            color:gray;
           
            hyphens: auto;
            text-align: justify;
          ;
        }
}


@media only screen and (min-width: 901px) {
    .container-skills-container-total{
        width: 100%;
        height: 750px;
        display:flex;
        justify-content:center;
        margin: 80px 0px 0px 0px;
        }
        
        .container-skills{
        width: 100%;
        height:100%;
        display:flex;
        margin: 60px 0px 0px 0px;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        }
        
        .container-tres-containers-tarjetas{
            width: 100%;
            height: 75%;
            display: flex;
            margin: 0px 0px;
            padding: 0px 0px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            overflow:auto;
        }
        
        .container-tres-containers-title{
            width: 100%;
            height:10%;
            display:flex;
            margin: 0px 0px;
            padding: 0px 0px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            }
        
            .container-tres-containers-parrafo{
                width: 100%;
                height:10%;
                display:flex;
        
                justify-content: center;
                align-items: center;
                flex-direction: column;
                }
        
        .tres-containers-container-title{
        width: 120px;
        height: 40px;
        display:flex;
        margin: 0px;
        padding: 5px;
        justify-content: center;
        align-items: flex-start;
        
        
        }
        
        .title{
            font-family: 'Varela Round', sans-serif;
            font-weight: 700px;
            font-size: 1.5em;
            text-align: center;
            background-color:#eaeaf1
        }
        
        .tres-containers-container-parrafo{
        width: 50%;
        height: 130px;
        display:flex;
        margin: 0px;
        padding: 5px;
        justify-content: center;
        align-items: flex-start;
        overflow:auto;
        }
        
        .parrafo{
            font-family: 'Varela Round', sans-serif;
            font-weight: lighter;
            color:gray;
            background-color:#eaeaf1;
            text-align: center;
            
        }
        
        .tres-containers-container-tarjetas{
            width: 100%;
            height: 95%;
            display: inline-flex;
            margin: 5px 0px;
            padding: 0px 0px;
            justify-content: space-around;
            align-items: flex-start;
        
            
        }
        
        
        .container-tarjetas-container-cinco-tarjetas{
            width: 100%;
            height: 95%;
            display: inline-flex;
            margin: 10px 0px;
            padding: 20px 0px;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
            
        }
        
        .cinco-tarjetas-container-tarjeta{
            width: 300px;
            height: 260px;
            display: flex;
            margin: 10px 10px;
            padding: 5px 0px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
           
            border-radius: 20%;
            background-color:#eaeaf1;
        }
        
        .tarjeta-container-img{
            width:100px;
            height:100px;
            display:flex;
            margin: 0px 0px;
            padding: 0px 0px;
            justify-content: center;
            align-items: center;
            background-color:#eaeaf1
        
        }
        
        .img-skill{
            width:100%;
            height:100%;
            margin: 0px 0px;
            padding: 0px 0px;
            border-radius:20%;
            background-color:#eaeaf1;
        }
        
        .tarjeta-container-title{
            height: 25%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            
            padding: 10px;
            background-color: #eaeaf1;
        }
        
        .tarjeta-container-parrafo{
            height: 20%;
            width: 60%;
            display: flex;
            justify-content: center;
            /* align-items: flex-start; */
            /* flex-direction: column; */
            padding: 10px;
            margin: 0px;
            background-color: #eaeaf1;
        }
        
        .title-skills{
            font-family: 'Varela Round', sans-serif;
            font-weight: 700px;
            text-align: center;
            font-size: 2em;
        }
        
        .parrafo-skills{
            font-family: 'Varela Round', sans-serif;
            font-weight: lighter;
            color:gray;
           
            hyphens: auto;
            text-align: justify;
          ;
        }

    }