@media only screen and (max-width: 900px) {

.container-total-contact{
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c5282;
}
.container-contact{
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c5282;
}

.container-contact-container-dos-colummas{
    width: 100%;
    height: 80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c5282;
}

.dos-columnas-container-title{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c5282;
}

.contacto-title{
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
    color:white;
    text-align:center;
    background-color: #2c5282;
    
}


.dos-columnas-dos-redes{
    width: 100%;
    height: 100%;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #2c5282;
}

.centrar-redes{
    width: 100%;
    height:100%;
    display:inline-flex;
    justify-content: space-between;
    background-color: #2C5282;

}

.enlace-redes{
    width: 50px;
    height: 50px;
    background-color: #2C5282;
   
    outline: none;
    text-decoration: none;
    border: none;
    fill:blue;
}

.dos-redes-container{
    width: 50px;
    height:50px;
    background-color: #2C5282;
    border-radius: 50%;
}
.img-redes{
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    border-radius: 50%;
}
}


@media only screen and (min-width: 901px){
    .container-total-contact{
        width: 100%;
        height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2c5282;
    }
    .container-contact{
        width: 100%;
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2c5282;
        padding-top: 30px;
    }
    
    .container-contact-container-dos-colummas{
        width: 100%;
        height: 70%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2c5282;
    }
    
    .dos-columnas-container-title{
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2c5282;
    }
    
    .contacto-title{
        font-family: 'Varela Round', sans-serif;
        font-weight: normal;
        color:white;
        text-align:center;
        background-color: #2c5282;
        
    }
    
    
    .dos-columnas-dos-redes{
        width: 100%;
        height: 100%;
        display:inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #2c5282;
    
    }
    
    .centrar-redes{
        width: 300px;
        height:300px;
        display:inline-flex;
        justify-content: space-between;
        background-color: #2C5282;
    }
    
    .enlace-redes{
        width: 50px;
        height: 50px;
        background-color: #2C5282;
       
        outline: none;
        text-decoration: none;
        border: none;
        fill:blue;
    }
    
    .dos-redes-container{
        width: 50px;
        height:50px;
        background-color: #2C5282;
        border-radius: 50%;
    }
    .img-redes{
        width: 100%;
        height: 100%;
        margin: 0px 0px;
        border-radius: 50%;
    }
    
    
}