@media only screen and (max-width: 900px) {
    
.container-informacion {
    width: 100%;
    height:1600px;
    margin: 0px 0px 10px;
    padding: 80px 0px 0px;

    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
    
}

.info-dos-containers{
    width: 100%;
    height: 100%;
 
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
 
}

.dos-containers-sobre-mi-estudios {
    width: 90%;
    min-width: 220px;
    height: 40%;
   
    background-color: #eaeaf1;
    border-radius: 20%;
    margin: 5px 20px;
    padding:10px 10px;
    align-items: flex-start;
    align-content: flex-start;
    
    transition: all 300ms;
 position:static;
 z-index: 0;
 /* overflow:scroll; */

 display:flex;
    flex-flow: row wrap;
    justify-content: center;
 

}

.dos-containers-sobre-mi-experiencia {
    width: 90%;
    min-width: 220px;
    height: 50%;
   
    background-color: #eaeaf1;
    border-radius: 20%;
    margin: 5px 20px;
    padding:10px 10px;
    align-items: flex-start;
    align-content: flex-start;
    
    transition: all 300ms;
 position:static;
 z-index: 0;
 /* overflow:scroll; */

 display:flex;
    flex-flow: row wrap;
    justify-content: center;
 

}



.dos-containers-sobre-mi:hover{
transform: scale(1.05);


position:static;
z-index: 0;

}

.sobre-mi-container-estudios{
    height:100%;
    width: 80%;
    overflow:auto;
}

.container-informacion-title{
    width: 80%;
    height: 20%;
    padding: 10px 0px ;
    margin: 0px 0px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #eaeaf1;
    overflow:auto;
   


}

.container-informacion-title-estudios{
    width: 100%;
    height: 10%;
    padding: 10px 0px ;
    margin: 0px 0px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #eaeaf1;
    overflow:auto;
   


}

.informacion-title{
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    background-color: #eaeaf1;
    text-align: center;
    font-size: 1.7rem;
    hyphens: auto;
    overflow:auto;
}

.informacion-title-estudios{

}

.informacion-subtitle{
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
    background-color: #eaeaf1;
    text-align: center;
    font-size: 1rem;
    color:gray;
    overflow:auto;
}

.container-experiencia-flex{
width: 90%;
height: 100%;
margin:0px;
display: flex;
justify-content: center;
align-items: flex-start;
}
.container-informacion-parrafos-estudios{
    width: 100%;
    height: 28%;
    padding:0px 20px;
    margin: 0px 0px;
    display:block;
    justify-content: center;
    background-color: #eaeaf1;
    overflow:auto;
    
   
    
}



.container-informacion-parrafos-canal-veo {
    width: 90%;
    height: 20%;
    padding:20px 20px;
    margin: 0px 0px;
    display:block;
    justify-content: center;
    background-color: #eaeaf1;
    overflow:auto;
    
}

.container-informacion-parrafos-gobierno {
    width: 90%;
    height: 50%;
    padding:20px 20px;
    margin: 0px 0px;
    display:block;
    justify-content: center;
    background-color: #eaeaf1;
    overflow:auto;
    
}

.informacion-parrafos-title{
    margin-bottom:10px;
    font-family: 'Varela Round', sans-serif;
    font-weight:bold;
    color:black;
    background-color: #eaeaf1;
    text-align: center;
    overflow:auto;
}

.informacion-parrafos-parrafo{
    font-family: 'Varela Round', sans-serif;
    font-weight: 400px;
    color:gray;
    text-align:center;
    background-color:#eaeaf1;
    hyphens: auto;
    overflow:auto;
}

.container-about-ver-mas{
    width: 100%;
    height: 100px;
    margin: 20px 0px;
    display:flex;
    justify-content: center;
    background-color: #eaeaf1;
}

.about-ver-mas-button{
    width:100px;
    height: 50px;
    background-color:#2C5282;
    color:white;
}

.cuatro-containers-estudios{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}

}

/* ------------------------cambio de pantalla -------------------- */

@media only screen and (min-width: 901px)
{
    .container-informacion {
        width: 100%;
        height:750px;
        margin: 10px 0px;
        padding: 20px 0px;
    
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
        
        
    }
    
    .info-dos-containers{
        width: 100%;
        height: 100%;
        margin: 60px 0px 0px 0px;  
        
        align-items: center;
        justify-content:center;
        
    
        display:flex;
        flex-flow: row wrap;
     
    }
    
    .dos-containers-sobre-mi-estudios {
        width: 25%;
        min-width: 220px;
        height: 100%;
       padding:15px;
        background-color: #eaeaf1;
        border-radius: 20%;
        margin: 5px 20px;
        align-items: flex-start;
        align-content: flex-start;
        
        transition: all 300ms;
     position:static;
     z-index: 0;
     /* overflow:scroll; */
    
     display:flex;
        flex-flow: row wrap;
        justify-content: center;
     
    
    }

    .dos-containers-sobre-mi-experiencia {
        width: 25%;
        min-width: 220px;
        height: 100%;
       
        background-color: #eaeaf1;
        border-radius: 20%;
        margin: 5px 20px;
        align-items: flex-start;
        align-content: flex-start;
        
        transition: all 300ms;
     position:static;
     z-index: 0;
     /* overflow:scroll; */
    
     display:flex;
        flex-flow: row wrap;
        justify-content: center;
    
    }
    
    
    
    .dos-containers-sobre-mi:hover{
    transform: scale(1.05);
    
    
    position:static;
    z-index: 0;
    
    }
/* -----------este no se si va ------- */
    .sobre-mi-container-estudios{
        height:100%;
        width: 80%;
        overflow:auto;
    }
    /* -----------este no se si va ------- */
    
    .container-informacion-title{
        width: 70%;
        height: 18%;
        padding: 20px 0px 0px 0px;
        margin: 5px 0px;
        display: block;
        justify-content: center;
        align-items: center;
        background-color: #eaeaf1;
        overflow:auto;
       
    
    
    }
    
    .container-informacion-title-estudios{
        width: 100%;
        height: 20%;
        padding: 20px 0px ;
        margin: 0px 0px 0px;
        display: block;
        justify-content: center;
        align-items: center;
        background-color: #eaeaf1;
        overflow:auto;
    
    }
    
    .informacion-title{
        font-family: 'Varela Round', sans-serif;
        font-weight: bold;
        background-color: #eaeaf1;
        text-align: center;
        font-size: 1.7rem;
        hyphens: auto;
        overflow:auto;
    }
    
    .informacion-title-estudios{
    
    }
    
    .informacion-subtitle{
        font-family: 'Varela Round', sans-serif;
        font-weight: normal;
        background-color: #eaeaf1;
        text-align: center;
        font-size: 1rem;
        color:gray;
        overflow:auto;
    }
    
    .container-experiencia-flex{
    width: 90%;
    height: 100%;
    margin:0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    }
    .container-informacion-parrafos-estudios{
        width: 100%;
        height: 20%;
        padding:0px 20px;
        margin: 0px 0px;
        display:block;
        justify-content: center;
        background-color: #eaeaf1;
        overflow:auto;
       
        
    }
    
    
    
    .container-informacion-parrafos-canal-veo {
        width: 90%;
        height: 20%;
        padding:20px 20px;
        margin: 0px 0px;
        display:block;
        justify-content: center;
        background-color: #eaeaf1;
        overflow:auto;
        
    }
    
    .container-informacion-parrafos-gobierno {
        width: 90%;
        height: 50%;
        padding:20px 20px;
        margin: 0px 0px;
        display:block;
        justify-content: center;
        background-color: #eaeaf1;
        overflow:auto;
        
    }
    
    .informacion-parrafos-title{
        margin-bottom:10px;
        font-family: 'Varela Round', sans-serif;
        font-weight:bold;
        color:black;
        background-color: #eaeaf1;
        text-align: center;
        overflow:auto;
    }
    
    .informacion-parrafos-parrafo{
        font-family: 'Varela Round', sans-serif;
        font-weight: 400px;
        color:gray;
        text-align:center;
        background-color:#eaeaf1;
        hyphens: auto;
        overflow:auto;
    }
    
    .container-about-ver-mas{
        width: 100%;
        height: 100px;
        margin: 20px 0px;
        display:flex;
        justify-content: center;
        background-color: #eaeaf1;
    }
    
    .about-ver-mas-button{
        width:100px;
        height: 50px;
        background-color:#2C5282;
        color:white;
    }
    
    .cuatro-containers-estudios{
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
    }
    
}
