
@media only screen and (max-width: 480px) {

.container-datos{
    width: 100%;
    height: 300px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: 30px 0px;
    background-color:white
    
}

.button_diviertete{
    width: 100px;
    height: 50px;
    background-color:#2C5282;
    color:white;
    border-radius: 10%;
}


.container-tres-columnas{
    width: 100%;
    height: 100%;
    display:none;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    margin: 10px 0px;
    
}


.tresColumnasShow{
    display:flex;
}

.container-title {
    width: 100%;
    height:50px;
    margin: 20px 0px;
    background-color:white;

display:flex;
margin: 0px;
padding: 5px;
justify-content: center;
align-items: flex-start;
    
    
}

.datos-title {
    background-color: white ;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400px;
    text-align: center;
   
}

.container-frase-inspiracional{
    width: 50%;
    height:100px;
    margin: 20px 0px;
    padding: 5px;
    background-color:#eaeaf1;

display:flex;
justify-content: center;
align-items: flex-start;
border-radius:20%;

}





.container-botones-mostrar-y-cerrar{
    width: 250px;
    height: 50px;
  
    background-color: white;
    border-radius: 10%;
    display:inline-flex;
    justify-content: space-between;
}
}

@media only screen and (min-width: 481px) {
    
.container-datos{
    width: 100%;
    height: 300px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: 30px 0px;
    background-color:white
    
}

.button_diviertete{
    width: 100px;
    height: 50px;
    background-color:#2C5282;
    color:white;
    border-radius: 10%;
}


.container-tres-columnas{
    width: 100%;
    height: 100%;
    display:none;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    margin: 10px 0px;
    
}


.tresColumnasShow{
    display:flex;
}

.container-title {
    width: 100%;
    height:50px;
    margin: 20px 0px;
    background-color:white;

display:flex;
margin: 0px;
padding: 5px;
justify-content: center;
align-items: flex-start;
    
    
}

.datos-title {
    background-color: white ;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400px;
    text-align: center;
   
}

.container-frase-inspiracional{
    width: 50%;
    height:100px;
    margin: 20px 0px;
    padding: 5px;
    background-color:#eaeaf1;

display:flex;
justify-content: center;
align-items: flex-start;
border-radius:20%;

}





.container-botones-mostrar-y-cerrar{
    width: 250px;
    height: 50px;
  
    background-color: white;
    border-radius: 10%;
    display:inline-flex;
    justify-content: space-between;
}
}